:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1536px;
  height: 677.6px;
  margin: 0 auto;
  background: #1d232a;
  overflow: hidden auto;
}
.body-main {
  position: absolute;
  height: 677.6px;
  top: 0;
  right: 0;
  left: 0;
  background: #f1f1f1;
}
.flex-column-ad {
  position: absolute;
  height: 663px;
  top: 0;
  right: 20px;
  left: 0;
  z-index: 3;
}
.signin-half {
  position: absolute;
  width: 768px;
  height: 677.6px;
  top: 0;
  left: 0;
  background: #cccdcc;
  z-index: 3;
  overflow: hidden;
}
.flex-row {
  position: relative;
  width: 729.31px;
  height: 137.6px;
  margin: 0 0 0 17px;
  z-index: 4;
}
.waviv-putih-transparant {
  position: absolute;
  width: 290px;
  height: 137.6px;
  top: 0;
  left: 0;
  background: url(./assets/images/fbd045002f24fa53e01f64a8a7635cc4478226ef.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
}
.vertical-divider {
  position: absolute;
  width: 1px;
  height: 13.55px;
  top: 50%;
  left: 728.31px;
  background: #818181;
  transform: translate(0, -365.83%);
  z-index: 1;
}
.cerebro {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 457px;
  height: 109px;
  margin: 146.4px 0 0 152px;
  color: #504747;
  font-family: Plus Jakarta Sans, var(--default-font-family);
  font-size: 90px;
  font-weight: 400;
  line-height: 108px;
  text-align: center;
  white-space: nowrap;
  z-index: 5;
}
.footer {
  position: absolute;
  height: 28px;
  top: 635px;
  right: 0;
  left: 20px;
  background: #f1f1f1;
  z-index: 2;
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 100px;
  position: absolute;
  width: 554px;
  height: 434px;
  top: 60px;
  left: 850px;
  z-index: 6;
}
.frame-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  min-width: 0;
  z-index: 7;
}
.reset-password {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 39px;
  color: #040308;
  font-family: Inter, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 38.727px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
}
.choose-password {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #040308;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}
.frame-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 30px;
  position: relative;
  width: 554px;
  z-index: 10;
}
.frame-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  min-width: 0;
  z-index: 11;
}
.frame-4 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  padding: 15px 20px 15px 20px;
  border: 1px solid rgba(4, 3, 8, 0.6);
  z-index: 12;
  overflow: hidden;
  border-radius: 5px;
}
.frame-input {
  flex-shrink: 0;
  position: absolute;
  width: 554px;
  height: 49px;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  z-index: 16;
  outline: none;
}
.new-password {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: rgba(4, 3, 8, 0.4);
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 13;
}
.icon-eye-off {
  flex-shrink: 0;
  position: relative;
  width: 19px;
  height: 19px;
  z-index: 14;
  overflow: hidden;
}
.icon {
  position: relative;
  width: 17.108px;
  height: 16.25px;
  margin: 1.375px 0 0 0.95px;
  background: url(./assets/images/0307bf88-9a87-4bb1-825b-6dbe2c44b378.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 15;
}
.frame-5 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  padding: 15px 20px 15px 20px;
  border: 1px solid rgba(4, 3, 8, 0.6);
  z-index: 17;
  overflow: hidden;
  border-radius: 5px;
}
.frame-input-6 {
  flex-shrink: 0;
  position: absolute;
  width: 554px;
  height: 49px;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  z-index: 21;
  outline: none;
}
.confirm-new-password {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: rgba(4, 3, 8, 0.4);
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 18;
}
.icon-eye-off-7 {
  flex-shrink: 0;
  position: relative;
  width: 19px;
  height: 19px;
  z-index: 19;
  overflow: hidden;
}
.icon-8 {
  position: relative;
  width: 17.108px;
  height: 16.25px;
  margin: 1.375px 0 0 0.95px;
  background: url(./assets/images/ee3f959a-6d4e-4f39-9cd9-7bfd29e6ea24.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 20;
}
.button-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 554px;
  padding: 15px 20px 15px 20px;
  cursor: pointer;
  background: #53e797;
  border: none;
  z-index: 22;
  border-radius: 5px;
}
.reset-password-9 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.button-frame-a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 554px;
  padding: 15px 20px 15px 20px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #040308;
  z-index: 24;
  border-radius: 5px;
}
.back-to-login {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #040308;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 25;
}
